@charset "UTF-8";
/*
  Em Html é id e é # em CSS
  em html é class = em css é . 
  */

 body{
    background-color: rgb(187, 236, 187);
    font-family: Arial, Helvetica, sans-serif;
 }
 h1{
   color: rgb(2, 34, 2);   
 }
 h1#principal{
    text-align: center;
    background-color: rgb(83, 84, 83);
    color: white;
 }
 .básico{
    color: rgb(36, 90, 72);
    font-weight: bolder;
 }
 .intermediario{
    color: rgb(248, 248, 58);
    font-weight: bolder;
 }
 .avançado{
    color: rgb(203, 63, 63);
    font-weight: bolder;
 }
 .destaque{
    background-color: yellow;
 }
 h2{
    color: rgb(44, 80, 44);
 }