@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
HTML,body{
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

}
body{
  background: url('../imagens/fundo-madeira.jpg')  top center no-repeat;
  background-size: cover;
}
main{
    height: 100vh;
    position: relative;
}
section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 308px;
    height: 629px;
    background:  url('../imagens/frame-iphone.png') no-repeat top center;
}
iframe#tela{
    position: relative;
    left: 20px;
    top: 80px;
    width: 266px;
    height: 470px;
}
section#redes-sociais{
    text-align: right;
}
section#redes-sociais>a>img{
    margin: 10px;
    width: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.564);
    box-sizing: border-box;
}
a > img:hover{
    border: 2px solid white;
    transition-duration: 0.3s;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.474);
}
